<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>


  import Vue from 'vue'
  import axios from '../utils/api'
  import VueAxios from 'vue-axios'
  import Buefy from 'buefy'
  import 'buefy/dist/buefy.css'

  Vue.use(VueAxios, axios);
  Vue.use(Buefy)

  export default {
    data: function () {
      return {
        message: "Hello Vue!"
      }
    },
    created() {
      if (!localStorage.token && this.$route.path !== '/') {
        this.$router.push('/')
      } else {
        this.$router.push('/chat')
      }
    }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
