<template>
    <div class="sign-in-container">
        <form class="sign-in-form">
            <div class="card" style="width: auto">
                <header class="card-header">
                    <p class="card-header-title">Sign In</p>
                </header>
                <section class="card-content">
                    <b-notification type="is-danger" v-if="errorMessage">
                        {{errorMessage}}
                    </b-notification>
                    <b-field label="Username">
                        <b-input
                                type="text"
                                v-model="username"
                                v-on:input="clearError()"
                                placeholder="Your username"
                                required>
                        </b-input>
                    </b-field>

                    <b-field label="Password">
                        <b-input
                                type="password"
                                v-model="password"
                                v-on:input="clearError()"
                                placeholder="Your password"
                                required>
                        </b-input>
                    </b-field>
                </section>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <button class="button is-primary" @click="signIn()">Login</button>
                    </div>
                </footer>
            </div>
        </form>
    </div>

</template>

<script>

import Vue from 'vue'

export default {
    name: "SignIn",
    methods: {
        signIn() {
            this.clearError();
            const {username, password} = this
            Vue.axios.post('api/auth', {username, password}).then(
                (response) => {
                    localStorage.token = response.data.auth_token
                    this.$router.push('/chat')
                },
                (error) => {
                    if (error.response && error.response.data.error) {
                        this.errorMessage = error.response.data.error
                    }
                })

        },
        clearError() {
            this.errorMessage = null
        }
    },
    data() {
        return {
            username: '',
            password: '',
            errorMessage: null
        }
    }
}
</script>

<style scoped>
    .sign-in-container {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .sign-in-form {
        margin: 0 auto;
        max-width: 400px;
    }
</style>
